@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
  }

#home video{
    filter: hue-rotate(200deg)  contrast(100%);
    position: fixed;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#banner{
    position: absolute;
    top: 65% !important; 
    left: 70%;
    transform: translate(-50%, -20%); 
    z-index: 1;
    width: 40rem;
    animation: fadeIn 8s ease-in-out forwards;
}

#home p, span{
    color:white;
}

#bannerDetails{
    display: flex;
    gap: 4rem;
    position:absolute;
    top:80%;
    right:10%;
    animation: fadeIn 8s ease-in-out forwards;
}
   
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }


